<!-- partials/table_body.html -->
{% load utils %}

<tbody id="table-body" class="bg-white divide-y divide-gray-200 dark:bg-neutral-800 dark:divide-neutral-700 text-gray-900 dark:text-neutral-200">
    {% for obj in page_obj %}
  <tr data-pk="{{ obj.pk }}" class="
    {% if obj.style_classes %}
      {{ obj.style_classes.row }}
    {% endif %}
    ">
      {% for field in enabled_fields %}
        <td class="px-6 py-4 whitespace-nowrap">
      {% with model_class|get_field_config:field as cfield %}
      {% if cfield.custom_fragment %}

      {% include cfield.custom_fragment with obj=obj %}
      {% else %}
          {% if field in editable_fields %}
      <form hx-post="{% url 'update-field' %}">
    <input type="hidden" name="app" value="{{ app_label }}">
    <input type="hidden" name="model" value="{{ model_class.get_config.model_name }}">
    <input type="hidden" name="pk" value="{{ obj.pk }}">
    <input type="hidden" name="field" value="{{ field }}">

    {% if editable_fields|get_item:field == 'BooleanField' %}
        <!-- Render as checkbox -->
        <input type="checkbox"
               class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500"
               name="{{ field }}"
               {% if obj|get_field_value:field %}checked{% endif %}
               hx-post="{% url 'update-field' %}"
               hx-include="[name='app'], [name='model'], [name='pk'], [name='field']"
               hx-trigger="change"
               hx-swap="none">
    {% elif editable_fields|get_item:field == 'CharField' or editable_fields|get_item:field == 'IntegerField' or editable_fields|get_item:field == 'DateField' or editable_fields|get_item:field == 'DateTimeField' or editable_fields|get_item:field == 'ChoiceField' %}
        <!-- Render as text, swap to input on double-click -->
        <span class="text-sm"
              hx-post="{% url 'edit-field' %}"
              name="{{ field }}"
              hx-include="[name='app'], [name='model'], [name='pk'], [name='field']"
              hx-trigger="dblclick"
              hx-swap="outerHTML">
            {{ obj|get_field_value:field }}
        </span>
    {% else %}
        <span class="text-sm">
            {{ obj|get_field_value:field }}
        </span>
    {% endif %}
</form>
          {% else %}
            <span class="text-sm">
              {{ obj|get_field_value:field }}
            </span>
          {% endif %}
        </td>
      {% endif %}
    {% endwith %}
    {% endfor %}   
      
    {% if model_class.get_config.actions.dropdown|length >= 1 %}
      <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
        {% include 'partials/actions_dropdown.html' with obj=obj %}
      </td>
      {% endif %}
    </tr>
  {% endfor %}
</tbody>
