{% extends "base.html" %}

{% load utils %}

{% block title %}{{ model_class.get_config.model_name }} Details{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ model_class.get_config.model_name }} Details</h1>
    <div class="card">
        <div class="card-header">
            <h2>{{ object }}</h2>
        </div>
        <div class="card-body">
            <div class="row">
                {% for field in enabled_fields %}
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-header">{{ field|titlify }}</div>
                        <div class="card-body">
                            <p class="card-text">{{ object|get_field_value:field }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>
            {% for child_instance in child_instances %}
            <h3>{{ child_instance.name|titlify }}</h3>
            <div class="row">
                {% for child_object in child_instance.objects %}
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-header">{{ child_object }}</div>
                        <div class="card-body">
                            {% for field in child_instance.fields %}
                            <p><strong>{{ field|titlify }}:</strong> {{ child_object|get_field_value:field }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            {% for action in model_class.get_config.actions.button %}
                {% if not action.disabled or not "detail" in action.disabled %}
                    {% if action.include_pk %}
                        <a href="{% url action.url object.pk %}" class="btn btn-primary">{{ action.name }}</a>
                    {% else %}
                        <a href="{% url action.url %}" class="btn btn-primary">{{ action.name }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for action in model_class.get_config.actions.dropdown %}
                {% if not action.disabled or not "detail" in action.disabled %}
                    <a href="{% url action.url object.pk %}" class="btn btn-secondary">{{ action.name }}</a>
                {% endif %}
            {% endfor %}
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#generateReportModal">
                Generate Report
            </button>
        </div>
    </div>
</div>
{% include 'partials/generate_report_modal.html' %}
{% endblock %}
